 <head>
  <style>
  body {
    background:green;
    }
  p {
    color:blue;
  }
  </style>
</head>
 <body> 
   <p> 
   <img src= "http://www.mammeacrobate.com/images/stories/metodo_montessori_.jpg" >
   </p>
   <p>
     <img src="http://upload.wikimedia.org/wikipedia/it/thumb/9/90/Monte2.jpg/220px-Monte2.jpg"style="float:right;margin:9px; width:20% ">
   </p>
   <i>
       Il più grande segno di successo per un insegnante  è poter dire: “I bambini stanno lavorando come se io non esistessi.
  </i>
  <p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/fGw7Nzm80XA" frameborder="0" allowfullscreen></iframe>
  </p>
    
     <p>
  <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fhttp%3A%2F%2Fvalentina-marras.github.io%2F&amp;width&amp;height=590&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=true&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; height:590px;" allowTransparency="true"></iframe>
 </p>
   </body>
 
