<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">SECONDO SITO</a>
  </div>
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#home.html">menù</a></li>
       <li><a href="#introduzione.html">introduzione</a></li>
      <li><a href="#about.html">About</a></li>
      <li><a href="http://valentina-marras.github.io/primapagina.html">VISITA IL MIO PRIMO SITO</a></li>
      <li><a href="#contact.html">Contact</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">nuovi amici <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="http://francesca-oggiano.github.io/">Francesca</a></li>
          <li><a href="http://mariantonietta-manai.github.io/">Mari</a></li>
          <li><a href="http://mariacarolina-borto.github.io/">MariaCarolina</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>

