<div class="container">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">SECONDO SITO</a>
  </div>
    <head>
  <style>
  body {
    background:white;
    }
  p {
    color:red;
  }
  ul {
   color:purple;
   }
  </style>
</head>
 <body> 
   <p> 
   <img src= "http://www.sardimondo.com/Sorgono/Immagini/sorgono2.jpg" >
   </p>
   <p>
     <img src="http://www.juzaphoto.com/shared_files/uploads/512733_ms.jpg" style="float:right;margin:11px; width:30% ">
   </p>
   <p>
        Sorgono è un comune italiano di 1.761 abitanti nella provincia di Nuoro in Sardegna.
        Posto nel centro geografico dell'isola, è il capoluogo storico di mandamento della subregione del Mandrolisai, ospitando i servizi alla popolazione per tutto il circondario, tra cui l'ospedale
        I paesi confinanti sono:
  <ul>
    <li> Atzara</li>
    <li> Tonara </li>
    <li> Austis</li>
  </ul>
  </p>
  <p>
    <iframe width="560" height="315" src="//www.youtube.com/embed/e5_mCKrFZts" frameborder="0" allowfullscreen></iframe>
  </p>
     
   </body>
 
 
  <div class="navbar-collapse collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="#home.html">Home</a></li>
      <li><a href="#about.html">About</a></li>
      <li><a href="#contact.html">Contact</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">nuovi amici <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">amico 1</a></li>
          <li><a href="#">amico 2</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li class="dropdown-header">Nav header</li>
          <li><a href="#">Separated link</a></li>
          <li><a href="#">One more separated link</a></li>
        </ul>
      </li>
    </ul>
  </div><!--/.nav-collapse -->
</div>
